.animating {
  visibility: visible;
}

.onFocus {
  transform: translateX(0);
  opacity: 0;
  transition:
    opacity 0.5s ease-in-out,
    transform 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.anim--fadeIn {
  animation: fadeIn 0.5s ease-in;
}

@keyframes fadeInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.anim--fadeInLeft {
  animation: fadeInLeft 0.5s ease-in;
}

@keyframes fadeInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.anim--fadeInRight {
  animation: fadeInRight 0.5s ease-in;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.anim--fadeOut {
  animation: fadeOut 0.5s ease-out;
}

@keyframes fadeOutLeft {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.anim--fadeOutLeft {
  animation: fadeOutLeft 0.5s ease-out;
}

@keyframes fadeOutRight {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.anim--fadeOutRight {
  animation: fadeOutRight 0.5s ease-out;
}

@keyframes bounceIn {
  from {
    transform: scale(0.3);
    opacity: 0;
  }

  50% {
    transform: scale(1.05);
    opacity: 1;
  }

  to {
    transform: scale(1);
  }
}

.anim--bounceIn {
  animation: bounceIn 0.5s ease-out;
}

@keyframes bounceInLeft {
  from {
    transform: translateX(-300%);
    opacity: 0;
  }

  50% {
    transform: translateX(25%);
    opacity: 1;
  }

  to {
    transform: translateX(0);
  }
}

.anim--bounceInLeft {
  animation: bounceInLeft 0.5s ease-out;
}

@keyframes bounceInRight {
  from {
    transform: translateX(300%);
    opacity: 0;
  }

  50% {
    transform: translateX(-25%);
    opacity: 1;
  }

  to {
    transform: translateX(0);
  }
}

.anim--bounceInRight {
  animation: bounceInRight 0.5s ease-out;
}

@keyframes bounceOut {
  20% {
    transform: scale(0.9);
  }

  50%,
  55% {
    transform: scale(1.1);
    opacity: 1;
  }

  to {
    transform: scale(0.3);
    opacity: 0;
  }
}

.anim--bounceOut {
  animation: bounceOut 0.5s ease-out;
}

@keyframes bounceOutLeft {
  20% {
    transform: translateX(20%);
    opacity: 1;
  }

  to {
    transform: translateX(-200%);
    opacity: 0;
  }
}

.anim--bounceOutLeft {
  animation: bounceOutLeft 0.5s ease-out;
}

@keyframes bounceOutRight {
  20% {
    transform: translateX(-20%);
    opacity: 1;
  }

  to {
    transform: translateX(200%);
    opacity: 0;
  }
}

.anim--bounceOutRight {
  animation: bounceOutRight 0.5s ease-out;
}
