html {
  scroll-behavior: smooth;
}

body {
  background-color: #ffffff;
  max-width: 100% !important;

  @media (prefers-color-scheme: dark) {
    background-color: #1d1d1d;
    color: #ffffff !important;
  }
}

main {
  margin-right: auto;
  margin-left: auto;
  width: 100vw;
  max-width: 115rem;
  scroll-behavior: smooth;
  font-size: 1rem;
  line-height: 1.5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: var(--color-accent);
  color: #ffffff;
}

h1,
h2 {
  color: #1d1d1d;
  font-weight: 800;
  font-family: "InterDisplay";

  @media (prefers-color-scheme: dark) {
    color: #c2c2c2;
  }
}

h1 {
  margin: 0;
  font-family: "InterDisplay";
  text-align: center;

  img {
    transition:
      padding 0.3s,
      border-radius 0.3s,
      background-color 0.3s;
    width: 9.8614rem;
    height: 1.75rem;
  }
}

a {
  position: relative;
  transition: color 0.2s;
  cursor: pointer;
  color: #272727;
  font-weight: 500;
  font-size: 0.875rem;
  text-decoration: none;

  @media (prefers-color-scheme: dark) {
    color: #c2c2c2;

    &:hover {
      color: #ffffff;
    }
  }

  &:hover {
    color: #1d1d1d;
  }
}

code {
  font-weight: 500;
  font-family: "Geist Mono Variable";
}
